<footer>
  <!-- Footer Start-->
  <div class="footer-area footer-padding">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="single-footer-caption mb-30">
              <!-- logo -->
              <div class="footer-logo mb-35">
                <a routerLink="/"><img src="assets/img/logo/logo-footer.png" alt=""></a>
              </div>
              <div class="footer-tittle">
                <div class="footer-pera">
                  <p>Jyoti Impex House - Exporter of fresh vegetables, kadaknath chicken & chicken egg since 2019 in
                    Vadodara, Gujarat.</p>
                </div>
              </div>
              <!-- social -->
              <div class="footer-social">
                <a target="_blank" href="https://twitter.com/share?url=https://www.indiamart.com/jyoti-impex-house/"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/sharer.php?u=https://www.indiamart.com/jyoti-impex-house/"><i class="fa fa-facebook-f"></i></a>
                <a target="_blank" href="https://www.linkedin.com/cws/share?url=https://www.indiamart.com/jyoti-impex-house/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>Services </h4>
              <ul>
                <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
                <!-- <li><a href="#">Products & Services</a></li> -->
                <li><a routerLink="/contacts" routerLinkActive="active">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>Get in touch</h4>
              <ul>
                <li class="number"><a href="tel:919825522933">+91-9825522933</a></li>
                <li><a href="mailto:sales@jyotiimpexhouse.com">sales@jyotiimpexhouse.com</a></li>
                <li><a target="_blank" href="https://www.google.co.in/maps/dir//22.21235,74.03336999999999">Gf/10, Ruby Appartment, Near Navjivan Bus Stop, Ajwa Road,
                    Vadodara-390019, Gujarat, India</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bottom area -->
  <div class="footer-bottom-area section-bg2" data-background="assets/img/gallery/footer-bg.png"
    style="background: url('assets/img/gallery/footer-bg.png')">
    <div class="container">
      <div class="footer-border">
        <div class="row d-flex align-items-center">
          <div class="col-xl-12 ">
            <div class="footer-copy-right text-center">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;2019-{{year}} All rights reserved | Jyoti Impex House
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
