 <!--? Hero Start -->
 <div class="slider-area2 section-bg2 hero-overly" data-background="assets/img/hero/fresh-chiken-banner.jpg"
 style="background: url('assets/img/hero/fresh-chiken-banner.jpg')">
  <div class="slider-height2 d-flex align-items-center">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap hero-cap2">
                      <h2>Our Services</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hero End -->
<!--? Services Area Start -->
<section class="services-area pt-top border-bottom pb-20 mb-60">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-8">
              <div class="section-tittle text-center mb-55">
                  <span class="element">Our Process</span>
                  <h2>Our Working</h2>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-cat text-center">
            <div class="cat-icon">
              <svg class="icon">
                <use xlink:href="../assets/img/icon/svg-sprite.svg#shirt"></use>
              </svg>
            </div>
            <div class="cat-cap">
              <h5><a href="services.html">Wash & Fold</a></h5>
              <p>Some content related to this that shows some details</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-cat text-center">
            <div class="cat-icon">
              <svg class="icon">
                <use xlink:href="../assets/img/icon/svg-sprite.svg#hanger"></use>
              </svg>
            </div>
            <div class="cat-cap">
              <h5><a href="services.html">Dry Cleaning</a></h5>
              <p>Some content related to this that shows some details</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-cat text-center">
            <div class="cat-icon">
              <svg class="icon">
                <use xlink:href="../assets/img/icon/svg-sprite.svg#iron"></use>
              </svg>
            </div>
            <div class="cat-cap">
              <h5><a href="services.html">Ironing</a></h5>
              <p>Some content related to this that shows some details</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat text-center">
              <div class="cat-icon">
                <svg class="icon">
                  <use xlink:href="../assets/img/icon/svg-sprite.svg#shoe"></use>
                </svg>
              </div>
              <div class="cat-cap">
                <h5><a href="services.html">Shoes</a></h5>
                <p>Some content related to this that shows some details</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat text-center">
              <div class="cat-icon">
                <svg class="icon">
                  <use xlink:href="../assets/img/icon/svg-sprite.svg#suitcase"></use>
                </svg>
              </div>
              <div class="cat-cap">
                <h5><a href="services.html">Bags</a></h5>
                <p>Some content related to this that shows some details</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat text-center">
              <div class="cat-icon">
                <svg class="icon">
                  <use xlink:href="../assets/img/icon/svg-sprite.svg#curtains"></use>
                </svg>
              </div>
              <div class="cat-cap">
                <h5><a href="services.html">Curtain Cleaning</a></h5>
                <p>Some content related to this that shows some details</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat text-center">
              <div class="cat-icon">
                <svg class="icon">
                  <use xlink:href="../assets/img/icon/svg-sprite.svg#carpet"></use>
                </svg>
              </div>
              <div class="cat-cap">
                <h5><a href="services.html">Carpet Cleaning</a></h5>
                <p>Some content related to this that shows some details</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat text-center">
              <div class="cat-icon">
                <svg class="icon">
                  <use xlink:href="../assets/img/icon/svg-sprite.svg#leather"></use>
                </svg>
              </div>
              <div class="cat-cap">
                <h5><a href="services.html">Leathers</a></h5>
                <p>Some content related to this that shows some details</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- Services End -->
<!--? Offer-services Start  -->
<section class="offer-services pb-bottom2">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-8">
              <div class="section-tittle text-center mb-55">
                  <span class="element">Services</span>
                  <h2>Services we offer</h2>
              </div>
          </div>
      </div>
    
      <div class="row no-gutters">
        <div class="col-lg-6 col-md-6">
            <div class="single-offers">
                <img src="assets/img/gallery/offers2.png" alt="" class=" w-100">
                <div class="offers-caption text-center">
                  <div class="cat-icon">
                      <svg class="icon">
                        <use xlink:href="../assets/img/icon/svg-sprite.svg#laundry"></use>
                      </svg>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Bulk Order</a></h5>
                        <p>We take Order in bulk as you have any events or hotels and you want your matteress clean before guests welcome.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="single-offers">
                <img src="assets/img/gallery/offers4.png" alt="" class=" w-100">
            </div>
        </div>
          <div class="col-lg-6 col-md-6">
              <div class="single-offers">
                  <img src="assets/img/gallery/offers1.png" alt="" class=" w-100">
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="single-offers">
                  <img src="assets/img/gallery/offers2.png" alt="" class=" w-100">
                  <div class="offers-caption text-center">
                    <div class="cat-icon">
                        <svg class="icon">
                          <use xlink:href="../assets/img/icon/svg-sprite.svg#tshirt"></use>
                        </svg>
                      </div>
                      <div class="cat-cap">
                          <h5><a href="services.html">Laundry</a></h5>
                          <p>Laundry is a process where the garments are washed cleaned with water using specialized Laundry chemicals and detergents. It is a total wet process.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="single-offers">
                  <img src="assets/img/gallery/offers2.png" alt="" class=" w-100">
                  <div class="offers-caption text-center">
                    <div class="cat-icon">
                        <svg class="icon">
                          <use xlink:href="../assets/img/icon/svg-sprite.svg#iron"></use>
                        </svg>
                      </div>
                      <div class="cat-cap">
                          <h5><a href="services.html">Ironing</a></h5>
                          <p>Steam Press is a modern way of ironing clothes. It is very different from the traditional irons that are used at homes. It irons the clothes in a much faster and crisper way. In this process, the iron is filled with water.</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="single-offers">
                  <img src="assets/img/gallery/offers4.png" alt="" class=" w-100">
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="single-offers">
                <img src="assets/img/gallery/offers1.png" alt="" class=" w-100">
            </div>
        </div>
          <div class="col-lg-6 col-md-6">
            <div class="single-offers">
                <img src="assets/img/gallery/offers2.png" alt="" class=" w-100">
                <div class="offers-caption text-center">
                  <div class="cat-icon">
                      <svg class="icon">
                        <use xlink:href="../assets/img/icon/svg-sprite.svg#hanger"></use>
                      </svg>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Dry Cleaning</a></h5>
                        <p>Dry Cleaning is a process where the garments are washed cleaned without water using specialized Laundry chemicals and detergents. It is a total dry process.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- Offer-services End  -->
<!--? Want To work -->
<section class="container">
  <section class="wantToWork-area" data-background="assets/img/gallery/section_bg01.png" 
  style="background: url('assets/img/gallery/section_bg01.png')">
      <div class="wants-wrapper w-padding2">
          <div class="row align-items-center justify-content-between">
              <div class="col-xl-8 col-lg-9 col-md-7">
                  <div class="wantToWork-caption wantToWork-caption2">
                      <h2>Get the App from Playstore</h2>
                      <p>We deliver the goods to the most complicated places on earth</p>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-5">
                  <a href="#" class="btn wantToWork-btn">Dhulaiwala App</a>
              </div>
          </div>
      </div>
  </section>
</section>
<!-- Want To work End -->
